/*@font-face font-family: Ubuntu src: local('☺'), url('Ubuntu-Regular.woff') format('woff'), url('Ubuntu-Regular.ttf') format('truetype')  @font-face font-family: Ubuntu src: local('☺'), url('Ubuntu-Bold.woff') format('woff'), url('Ubuntu-Bold.ttf') format('truetype') font-weight: bold */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: rgba(255, 255, 153, 0.25); color: #333333; text-decoration: none; }

mark { background-color: rgba(255, 255, 153, 0.25); color: #333333; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color: #333333; }

body { font-size: 16px; line-height: 1.5em; font-family: sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

html { overflow-y: scroll; }

ul { margin-left: 1.8em; }

ol { margin-left: 1.8em; list-style-type: decimal; }

nav ul, nav li { margin: 0; }

small { font-size: 85%; }

strong, th { font-weight: bold; }

td { vertical-align: top; }
td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }

sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }

label { cursor: pointer; }

input[type=button], input[type=submit] { cursor: pointer; }

button { cursor: pointer; margin: 0; }

input, select, textarea { margin: 0; }

input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }

::-moz-selection { color: white; background: #5e2750; text-shadow: none; }

::selection { color: white; background: #5e2750; text-shadow: none; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

a:link { -webkit-tap-highlight-color: #dd4814; }

button { width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }

.invisible { visibility: hidden; }

.clearfix { zoom: 1; }
.clearfix:before { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; clear: both; }

body { font-family: "Ubuntu", "Arimo", "Droid Sans", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; font-family: "Ubuntu", "Arimo", "Droid Sans", Arial, sans-serif; }

h1 { font-size: 150%; }

h2 { font-size: 125%; }

h3 { font-size: 110%; }

em { font-style: normal; white-space: nowrap; padding: 2px 4px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(1, 0, 2, 0.18)), color-stop(100%, rgba(34, 11, 40, 0.15))); background-image: -moz-linear-gradient(top, rgba(1, 0, 2, 0.18) 0%, rgba(34, 11, 40, 0.15) 100%); background-image: linear-gradient(top, rgba(1, 0, 2, 0.18) 0%, rgba(34, 11, 40, 0.15) 100%); -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 2px; }

strong { text-weight: bold; }

#help a, footer a, #languages a { text-decoration: none; color: #5e2750; text-shadow: rgba(0, 0, 0, 0.33) 1px 1px 1px; white-space: nowrap; outline: none; position: relative; top: 0px; left: 0px; }
#help a:active, footer a:active, #languages a:active { color: #5e2750 !important; text-shadow: none; position: relative; top: 1px; left: 1px; border-bottom: 1px solid #333333 !important; }
#help a:visited, footer a:visited, #languages a:visited { color: #2c001e; }
#help a:hover, #help a:focus, footer a:hover, footer a:focus, #languages a:hover, #languages a:focus { color: #77216f; border-bottom: 1px dashed #333333; }

.inline { display: inline; }

.icon { width: 16px; height: 16px; }

#engines { width: 700px; height: 80px; padding-top: 20px; position: relative; }
#engines a { display: block; width: 225px; height: 80px; cursor: pointer; opacity: 0; position: absolute; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#engines a img { display: block; height: 100%; width: 100%; }

#input { margin-top: 30px; }

.ubuntu-button, #lang, #method a { -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; text-align: center; cursor: pointer; color: rgba(255, 255, 255, 0.8); background: rgba(174, 167, 159, 0.1); -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; text-decoration: none !important; outline: none; }
.ubuntu-button.active, .active#lang, #method a.active, .ubuntu-button.active:hover, .active#lang:hover, #method a.active:hover { background: #dd4814; color: white; }
.ubuntu-button:hover, #lang:hover, #method a:hover { color: white; background: rgba(174, 167, 159, 0.2); }
.ubuntu-button:active, #lang:active, #method a:active { background: #ae3910; }

#lang { font-size: 13px; font-weight: bold; padding: 3px 6px; width: 20px; position: absolute; left: 80px; margin-top: 1px; }

#method { text-align: center; margin: 30px 0 30px 150px; width: 400px; }
#method a { padding: 3px 6px; margin: 0 2px; }

#search { position: relative; margin: 0px; padding: 0px; background: -moz-radial-gradient(0% 0%, circle farthest-corner, #77216f 0%, #2c001e 100%); background: -webkit-gradient(radial, 100 100, 1, 100 100, 2000, from(#77216f), to(#2c001e)); width: 100%; height: 280px; min-width: 875px; box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); }

input.search { background: transparent; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(1, 0, 2, 0.5)), color-stop(100%, rgba(34, 11, 40, 0.5))); background-image: -moz-linear-gradient(top, rgba(1, 0, 2, 0.5) 0%, rgba(34, 11, 40, 0.5) 100%); background-image: linear-gradient(top, rgba(1, 0, 2, 0.5) 0%, rgba(34, 11, 40, 0.5) 100%); border: solid 0px black; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -o-border-top-left-radius: 3px; -ms-border-top-left-radius: 3px; -khtml-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -o-border-bottom-left-radius: 3px; -ms-border-bottom-left-radius: 3px; -khtml-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-box-shadow: rgba(238, 215, 244, 0.1) 0px 1px 0px 0; -webkit-box-shadow: rgba(238, 215, 244, 0.1) 0px 1px 0px 0; -o-box-shadow: rgba(238, 215, 244, 0.1) 0px 1px 0px 0; box-shadow: rgba(238, 215, 244, 0.1) 0px 1px 0px 0; color: rgba(255, 255, 255, 0.8); display: inline; font: normal 16px/100% ubuntu, helvetica, arial, sans-serif; font-weight: bold; height: 30px; width: 400px; margin: 0px; margin-left: 120px; outline: 0; padding-left: 10px; text-shadow: 1px 1px 3px rgba(1, 0, 2, 0.5); }

input.search:hover, input.search:focus { background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(1, 0, 2, 0.7)), color-stop(100%, rgba(34, 11, 40, 0.7))); background-image: -moz-linear-gradient(top, rgba(1, 0, 2, 0.7) 0%, rgba(34, 11, 40, 0.7) 100%); background-image: linear-gradient(top, rgba(1, 0, 2, 0.7) 0%, rgba(34, 11, 40, 0.7) 100%); }

input.go { background: #dd4814; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dd4814), color-stop(100%, #ae3910)); background-image: -moz-linear-gradient(top, #dd4814 0%, #ae3910 100%); background-image: linear-gradient(top, #dd4814 0%, #ae3910 100%); -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -o-border-top-right-radius: 3px; -ms-border-top-right-radius: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -o-border-bottom-right-radius: 3px; -ms-border-bottom-right-radius: 3px; -khtml-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; -moz-box-shadow: rgba(238, 215, 244, 0.1) 0px 1px 0px 0; -webkit-box-shadow: rgba(238, 215, 244, 0.1) 0px 1px 0px 0; -o-box-shadow: rgba(238, 215, 244, 0.1) 0px 1px 0px 0; box-shadow: rgba(238, 215, 244, 0.1) 0px 1px 0px 0; -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; text-shadow: #261102 0px 1px 3px; border: 0px; color: white; display: inline; position: relative; left: -4px; font: normal 14px/100% ubuntu, helvetica, arial, sans-serif; font-weight: bold; height: 32px; margin: 0px; width: 4em; outline: none; }
input.go:active, input.go:active:hover { background: #ae3910; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ae3910), color-stop(100%, #dd4814)); background-image: -moz-linear-gradient(top, #ae3910 0%, #dd4814 100%); background-image: linear-gradient(top, #ae3910 0%, #dd4814 100%); }
input.go:hover { background: #ed6637; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ed6637), color-stop(100%, #dd4814)); background-image: -moz-linear-gradient(top, #ed6637 0%, #dd4814 100%); background-image: linear-gradient(top, #ed6637 0%, #dd4814 100%); }

#ubuntulogo { position: absolute; bottom: 40%; right: 30px; width: 25%; }

#help { padding-top: 30px; padding-left: 120px; color: #333333; min-height: 100%; }
#help ul { padding-left: 1em; }
#help ul li { margin: 0.25em 0; }
#help ul.links { list-style: none; margin: 0; }
#help ul.links li { margin-bottom: 0.5em; }
#help ul.links .description { font-size: 80%; line-height: 1.2em; padding-left: 1em; }
#help p { margin-bottom: 0.5em; }
#help p:last-child { margin-bottom: 0; }
#help section { padding: 2em 0; width: 40%; float: left; margin-right: 5%; min-height: 19em; }
#help section h3 { margin-bottom: 0.5em; }

footer { font-size: 80%; margin-top: 1em; padding: 1em 120px; background: #aea79f; }

#languages { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; *zoom: 1; font-size: 80%; padding: 0.5em 120px; }
#languages li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
#languages li:first-child, #languages li.first { padding-left: 0px; }
#languages li:last-child, #languages li.last { padding-right: 0px; }

@media all and (orientation:portrait);
@media all and (orientation:landscape);
@media screen and (max-device-width: 480px) {}
@media print { * { background: transparent !important; color: #333333 !important; text-shadow: none !important; }
  a { color: #333333 !important; text-decoration: underline; }
  a:visited { color: #333333 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
